@using RyanNickMasteryProject.BizLogic
@using RyanNickMasteryProject.Repositories
@model RyanNickMasteryProject.LmsUser



<div>
    <h2>Student Dashboard</h2>
</div>

@using (Html.BeginForm("StudentGrades", "Student", new {id = Model.UserId}))
{
    <div class="col-md-12">

        <table class="col-md-12; table table-striped" style="border: solid; margin-top: 20px; margin-bottom: 20px; width: 50%">
            <thead>
            <tr>
                <th class="col-md-2" style="border: solid; background-color: grey">Class</th>
                <th class="col-md-2" style="border: solid; background-color: grey">Grade</th>
                <th class="col-md-2" style="border: solid; background-color: grey"></th>
            </tr>
            </thead>


    @foreach (var x in StudentRepo.GetStudentCourses(Model.UserId))
     {
         <tr>
             <td class="col-md-2" style="border-right: solid">@x.CourseName</td>
             <td class="col-md-2" style="border-right: solid">@x.CurrentGrade</td>
             <td class="col-md-2" style="text-align: center">
                 
                 
                     @Html.ActionLink("View Grades", "StudentGrades", new {id = x.CourseId})
                 
             </td>
         </tr>
     }

        </table>
    </div>
}