
@{
    ViewBag.Title = "Register Success";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
            </ul>
           
        </div>
    </div>
</div>



<h2>Success</h2>
<p>You have successfully registered.  An admin will review your registration and make a decision on approval</p>

